.DS_Store

# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive

# ctags
.tags*
tags


# vim swap files
.*.sw[op]
.sw[op]
